---
---

*, *:before, *:after {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

$min-aspect-ratio: "4/3";
$min-width: 800px;
$min-height: 600px;

a {
	color: #004165;
	&:hover {
		color: lighten(#004165, 20%);
	}
}

.header {
	width: 100%;
	height: 60vh;
	background: url('imgs/BG.jpeg');
	background-size: cover;

	.title {
		width: 100%;
		background: rgba(255, 255, 255, 0.5);
		padding: 1rem 1rem;
		text-align: center;
		font-family: ZingRust;
		font-size: 6vh;
	}
	.author {
		width: 100%;
		background: rgba(255, 255, 255, 0.5);
		padding: 1rem 1rem;
		text-align: right;
		font-family: ZingRust;
		font-size: 3vh;
	}
}

.content {
	width: 100%;
	border-left: 15vw solid lightgrey;
	padding: 10vh 10vw;
	overflow: hidden;

	.section {
		overflow: hidden;
		margin-bottom: 10vh;

		.title {
			font-family: Hockey;
			font-size: 8vh;
			text-align: center;
			margin-bottom: 5vh;
		}
		.body {
			width: 100%;
			font-family: RobotoRegular;
			font-size: 3vh;
			p {
				margin-bottom: 5vh;
			}
			p.code {
				padding: 1rem;
				white-space: nowrap;
				overflow: auto;
				font-size: 2.5vh;
				background-color: #EEEEEE;
			}

			h3 {
				margin-bottom: 3vh;
			}
			dl {
				padding: 0 2rem;
				margin-bottom: 5vh;
				dt {
					font-style: italic;
				}
				dd {
					padding-left: 2rem;
				}
			}

			.github-link {
				width: 100%;
				height: 12vh;
				padding: 2vh 0;
				line-height: 8vh;
				white-space: nowrap;
				overflow: auto;
				margin-bottom: 4vh;

				img {
					height: 100%;
					float: left;
					margin-right: 3vw;
				}

				h3 {
					font-family: "RobotoRegular";
					font-size: 3vh;
					vertical-align: middle;
					margin: 0;
				}
				a {
					text-decoration-style: dotted;

					color: #0f0f0f;
					&:hover {
						color: #3f3f3f;
					}
				}
			}
		}
	}
}

//Content fallback layout
@media not screen and (min-aspect-ratio: $min-aspect-ratio) and (min-width: $min-width) and (min-height: $min-height) {
	.content {
		border-left: none;
	}
}
